###########################################################################
#
# Windows
#

# 缩略图缓存
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# 文件夹配置
[Dd]esktop.ini

# 安装程序
*.cab
*.msi
*.msix
*.msm
*.msp

# 快捷方式
*.lnk

###########################################################################
#
# Linux
#

# 临时文件
.fuse_hidden*

# 目录首选项
.directory

# 其它
.Trash-*
.nfs*
